.about{
    background-color: $white;
    color: $black;
    padding-top:9.063vw;
    padding-bottom:9.063vw;
    padding-left: 8.177vw;
    display: grid;
    grid-template-areas: "tldsply about" "tldsply tl";
    overflow: hidden;
    h1{
        margin-bottom: 1.458vw;
        font-size: 6.667vw;
        line-height: 5vw;
        color: $orange;
    }
    h2{
        font-weight: 400;
        font-size: 1.667vw;
        line-height: 1.667vw;
    }
    p{
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 2.083vw;
        margin-bottom: 1.042vw;
    }
    .abme{
        grid-area: about;
        margin-right: 10.677vw;
        ul{
            margin: 0;
            margin-right: 4.063vw;
            margin-bottom: 2.083vw;
                &:last-child{
                    margin-right: 0;
                }
                padding: 0;
                li{
                    font-size: 1.094vw;
                    line-height: 1;
                    margin-top: 0.521vw;
                    &::marker{
                        content:''
                    }
                    &::before{
                        content: '';
                        background-image:url('../images/arrow.svg');
                        width: 0.781vw;
                        height: 0.781vw;
                        background-size: 0.781vw 0.781vw;
                        display: inline-block;
                        margin-right: 0.781vw;
                    }
                }
        }
    }
    .tldsply{
        grid-area: tldsply;
        min-width: 31.25vw;
        width: 31.25vw;
        height: 41.667vw;
        border: 0.156vw solid #FF7700;
        border-radius: 1.563vw;
        margin-right: 6.823vw;
        padding: 2.656vw 2.135vw 2.656vw 2.135vw;
        .tf{
            text-align: right;
            font-weight: 400;
            font-size: 1.25vw;
            line-height: 2.083vw;
            margin-bottom: 0.417vw;
        }
        .tltgriet{
            line-height: 2.5vw;
        }
        ul{
            margin: 0;
            padding: 0;
            font-weight: 400;
            font-size: 1.25vw;
            line-height: 2.083vw;
                li{
                    // list-style-image:url('../images/arrow.svg');
                    margin-bottom: 0.833vw;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &::marker{
                        content: '';
                        // background-image:url('../images/arrow.svg');
                        // width: 0.781vw;
                        // height: 0.781vw;
                        // background-size: 0.781vw 0.781vw;
                        // display: inline-block;
                        // margin-right: 14.995px;
                        // font-size: 0.781vw;
                    }
                    &::before{
                        content: '';
                        background-image:url('../images/arrow.svg');
                        width: 0.781vw;
                        height: 0.781vw;
                        background-size: 0.781vw 0.781vw;
                        display: inline-block;
                        margin-right: 0.781vw;
                    }
                }
        }
        .tlt-tcs{
            h2{
                margin-bottom: 16px;
                &:last-child{
                    margin-bottom: 39px;
                }
            }
            .tld-h1{
                margin-bottom: 0.833vw;
            }
            .tld-h2{
                margin-bottom: 2.031vw;
            }
        }
    }
    .tl{
        grid-area: tl;
        .nv-it {
            width: 5.208vw;
            height: 5.208vw;
            z-index: 1;
        }
        .tl-btn{
            padding: 0;
            background: none;
            margin: 0;
        }
        .tl-tcs{
            position: relative;
            left: 12.708vw;
        }
        .svgtl{
            width: 5.208vw;
            height: 5.208vw;
            display: block;
        }
        .svgtlh{
            width: 5.208vw;
            height: 5.208vw;
            display: none;
        }
        .active .svgtl{
            display: none;
        }
        .active .svgtlh{
            display: block;
        }
        .tl-griet{
            position: relative;
            left: 25.417vw;
        }
        .sline{
            width: 53.751vw;
            height: 0.313vw;
            position: relative;
            top:-2.866vw;
        }
    }
}