.abt{
    font-weight: 400;
    display: grid;
    grid-template-areas:
        "title title"
        "aboutme skills";
    h1{
        margin-bottom: 1.615vw;
        margin-top: 0.573vw;
    }
    .abt-a{
        background-color: $greengrey;
        border-radius: $radius;
        margin-top: 1.563vw;
        color: $white;
        display: flex;
        padding: 1.771vw 3.229vw 2.396vw 2.865vw;
        justify-content: space-between;
        margin-bottom: 1.562vw;
        grid-area: title;
        button{
            font-size: 1.667vw;
            line-height: 1.667vw;
            padding: 1.094vw 2.292vw;
            border-radius: $radius;
            border:0.156vw solid $white;
            background-color: transparent;
            color: $white;
            font-family: $Opensans;
        }
        .tl-img{
            img{
                width: 13.021vw;
                height: 13.021vw;
            }
        }
    }
    .abt-b{
        max-width: 48.698vw;
        height: 26.562vw;
        min-height: 26.562vw;
        border-radius: $radius;
        background-color: $black;
        color: $white;
        padding: 3.125vw 2.708vw;
        margin-right: 1.563vw;
        grid-area: aboutme;
    }
    .abt-c{
        max-width: 48.698vw;
        height: 26.562vw;
        min-height: 26.562vw;
        border-radius: $radius;
        background-color: $neon;
        padding: 3.125vw 2.708vw;
        grid-area: skills;
        .sk-c{
            display: flex;
            flex-wrap: wrap;
            justify-content: stretch;
        }
    }
}
@media screen and (max-width: 1280px) {
    .abt{
        font-weight: 400;
        display: grid;
        grid-template-areas:
            "title title"
            "aboutme skills";
        h1{
            margin:0 0 0.703vw;
        }
        .abt-a{
            background-color: $greengrey;
            border-radius: $radius-d;
            color: $white;
            display: flex;
            padding: 5.625vw 5.469vw 5.859vw 4.297vw;
            justify-content: space-between;
            margin-top: 2.344vw;
            margin-bottom: 2.344vw;
            grid-area: title;
            button{
                font-size: 1.875vw;
                line-height: 1.875vw;
                padding: 1.406vw 3.125vw;
                border-radius: $radius-d;
                border:0.234vw solid $white;
                background-color: transparent;
                color: $white;
                font-family: $Opensans;
            }
            .tl-img{
                margin-bottom: 0;
                img{
                    width: 15.625vw;
                    height: 15.625vw;
                }
            }
        }
        .abt-b{
            height: 39.844vw;
            max-width: 48.047vw;
            min-height: 39.844vw;
            border-radius: $radius-d;
            background-color: $black;
            color: $white;
            padding: 4.141vw 3.516vw 4.141vw 3.594vw;
            margin-right: 1.563vw;
            grid-area: aboutme;
        }
        .abt-c{
            height: 39.844vw;
            max-width: 48.047vw;
            min-height: 39.844vw;
            border-radius: $radius-d;
            background-color: $neon;
            padding: 4.141vw 3.516vw 4.141vw 3.594vw;
            grid-area: skills;
            margin-top: 0;
        }
    }
}
@media screen and (max-width: 1024px) {
    .abt{
        font-weight: 400;
        display: grid;
        grid-template-areas:
            "title title"
            "aboutme skills";
        h1{
            margin-bottom: 0;
        }
        .abt-a{
            border-radius: $radius-t;
            color: $white;
            display: flex;
            flex-direction: column-reverse;
            padding: 5.371vw 4.883vw;
            justify-content: space-between;
            margin-top: 1.953vw;
            margin-bottom: 1.953vw;
            grid-area: title;
            button{
                font-size: 2.344vw;
                line-height: 3.125vw;
                padding: 1.367vw 3.223vw;
                border-radius: $radius-t;
                border:2.478px solid $white;
                background-color: transparent;
                color: $white;
                font-family: $Opensans;
            }
            .tl-img{
                margin-bottom: 0;
                img{
                    width: 17.09vw;
                    height: 17.09vw;
                }
            }
        }
        .abt-b{
            max-width: 48.047vw;
            height: 65vw;
            min-height: 65vw;
            border-radius: $radius-t;
            background-color: $black;
            color: $white;
            padding: 4.395vw 4.785vw;
            margin-right: 1.953vw;
            grid-area: aboutme;
        }
        .abt-c{
            height: 65vw;
            max-width: 48.047vw;
            min-height: 65vw;
            border-radius: $radius-t;
            background-color: $neon;
            padding: 4.395vw 4.785vw;
            grid-area: skills;
            margin-top: 0;
        }
    }
}
@media screen and (max-width: 480px) {
    .abt{
        font-weight: 400;
        display: grid;
        grid-template-areas:
            "title"
            "aboutme"
            "skills";
        h1{
            margin-bottom: 2.415vw;
        }
        .abt-a{
            background-color: $greengrey;
            border-radius: $radius-mc;
            margin-top: 6.036px;
            color: $white;
            display: flex;
            flex-direction: column-reverse;
            padding: 5.797vw 0 5.797vw 6.763vw;
            justify-content: space-between;
            margin-bottom: 2.415vw;
            grid-area: title;
            margin-top: 4.831vw;
            button{
                font-size: 4.831vw;
                line-height: 6.522vw;
                padding: 1.449vw 4.106vw;
                border-radius: $radius-m;
                border:0.242vw solid $white;
                background-color: transparent;
                color: $white;
                font-family: $Opensans;
            }
            .tl-img{
                margin-bottom: 2.415vw;
                img{
                    width: 31.401vw;
                    height: 31.401vw;
                }
            }
        }
        .abt-b{
            max-width: unset;
            height:  unset;
            min-height:  unset;
            border-radius: $radius-mc;
            background-color: $black;
            color: $white;
            padding: 7.729vw 6.763vw;
            margin-right: 0;
            grid-area: aboutme;
        }
        .abt-c{
            max-width: unset;
            height:  unset;
            min-height:  unset;
            border-radius: $radius-mc;
            background-color: $neon;
            padding: 7.729vw 6.763vw;
            grid-area: skills;
            margin-top: 2.415vw;
        }
    }
}