.ftr{
    border: 1px solid $black;
    height:1.563vw;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.833vw;
    line-height: 0.833vw;
    margin-top: 1.563vw;
}