.nvgtn{
    padding: 0.521vw;
    border:0.052vw solid $black;
    border-radius: $radius;
    font-weight: 400;
    font-size: 1.667vw;
    line-height: 1.667vw;
    display: flex;
    .logo-c{
        display: flex;
        align-items: center;
        margin-left: 2.344vw;
        .logo{
            width: 4.531vw;
            height: 2.083vw;
        }
    }
    .nvc{
        display: flex;
        border:0.052vw solid $black;
        border-radius: $radius;
        padding: 0.521vw;
        width: 42.188vw;
        align-items: center;
        justify-content: space-between;
        margin: 0 3.125vw;
        .nvc-item{
            width: 13.021vw;
            height: 3.125vw;
            border:0.052vw solid $black;
            border-radius: $radius;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }
    .sr-c{
        display: flex;
        .socials{
            display: flex;
            .social{
                width: 4.167vw;
                height: 4.167vw;
                display: block;
                margin-right: 0.885vw;
                &:last-child{
                    margin-right: 0;
                }
                circle{
                    stroke: $black;
                }
                path{
                    fill: $black;
                    stroke: $black;
                }
                &:hover{
                    circle{
                        fill:$black;
                        stroke: $black;
                    }
                    path{
                        fill: $white;
                    }
                }
            }
        }
        .resume-c{
            margin-left: 12.604vw;
            display: flex;
            align-items: center;
            width: 15.625vw;
            height: 4.167vw;
            border:0.052vw solid $black;
            border-radius: $radius;
            background-color: $black;
            padding: 0.521vw;
            justify-content: space-between;
            .resume{
                color: $white;
                display: flex;
                margin-left: 1.25vw;
            }
            .arw-con{
                width: 6.25vw;
                height: 3.125vw;
                border-radius: $radius;
                background-color: $grey;
                display: flex;
                align-items: center;
                justify-content: center;
                .arw{
                    width: 2.083vw;
                }
            }
        }
    }
}
.bc-active{
    background-color: $black;
    color: $white;
}
.nvgtn-m{
    display: none;
}
@media screen and (max-width: 1280px) {
    .nvgtn{
        display: none;
    }
    .nvgtn-m{
        --mpadding-l: 0.781vw;
        --transition: $black ease .3s, top ease .3s .3s, transform ease .3s;
        --mborderw-l: 0.078vw;
        --mborders-l: solid;
        --mborderc-l: $black;
        border-width: var(--mborderw-l);
        border-style: var(--mborders-l);
        border-color: var(--mborderc-l);
        padding: var(--mpadding-l);
        border-radius: $radius-d;
        font-weight: 400;
        font-size: 1.875vw;
        line-height: 1.875vw;
        display: flex;
        .logo-c{
            display: flex;
            align-items: center;
            margin-left: 4.297vw;
            .logo{
                width: 6.797vw;
                height: 3.125vw;
            }
        }
        .sr-c{
            display: flex;
            border-width: var(--mborderw-l);
            border-style: var(--mborders-l);
            border-color: var(--mborderc-l);
            border-radius: $radius-t;
            padding: var(--mpadding-l);
            width: 81.25vw;
            height: 6.25vw;
            justify-content: space-between;
            .socials{
                display: flex;
                .social{
                    width: 4.688vw;
                    height: 4.688vw;
                    display: block;
                    margin-right: 15px;
                    &:last-child{
                        margin-right: 0;
                    }
                    circle{
                        stroke: $black;
                    }
                    path{
                        fill: $black;
                        stroke: $black;
                    }
                    &:hover{
                        circle{
                            fill:$black;
                            stroke: $black;
                        }
                        path{
                            fill: $white;
                        }
                    }
                }
            }
            .resume-c{
                display: flex;
                align-items: center;
                width: 21.484vw;
                height: 4.687vw;
                border: var(--mborderw-l) var(--mborders-l) var(--mborderc-l);
                border-radius: $radius-m;
                background-color: $black;
                padding: var(--mpadding-l);
                justify-content: space-between;
                .resume{
                    color: $white;
                    display: flex;
                    margin-left: 2.813vw;
                }
                .arw-con{
                    width: 7.813vw;
                    height: 3.125vw;
                    border-radius: $radius-d;
                    background-color: $grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .arw{
                        width: 2.344vw;
                    }
                }
            }
        }
        .nvc{
            display: flex;
            border-width: var(--mborderw-l);
            border-style: var(--mborders-l);
            border-color: var(--mborderc-l);
            border-radius: $radius-t;
            padding: var(--mpadding-l);
            align-items: center;
            justify-content: space-between;
            margin:0;
            margin-top: 0.781vw;
            .nvc-item{
                width: 30.729vw;
                height: 4.688vw;
                border-width: var(--mborderw-l);
                border-style: var(--mborders-l);
                border-color: var(--mborderc-l);
                border-radius: $radius-d;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1.484vw;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .nvc-m{
            display: flex;
            padding: var(--mpadding-l);
            justify-content: space-between;
            align-items: center;
            border-radius: $radius-m;
            color: $white;
            margin-top: -1.563vw;
            .menu-icon{
                width: 7.813vw;
                height: 3.125vw;
                background-color: #D9D9D9;
                border-radius: $radius-d;
            }
        }
        .nvc-e{
            width: 21.484vw;
            height: 4.688vw;
            background-color: $black;
            padding-left:2.656vw;
            margin-top: 0px;
        }
        input#menu {
            display: none;
        }
        label.icon {
            position: relative;
            z-index: 200;
        }
        .icon{
            background: transparent;
            cursor: pointer;
            display: block;
            width: 7.813vw;
            height: 3.125vw;
            .menu{
                --top:0.781vw;
                --mwidth-l:2.344vw;
                --mheight-l:0.235vw;
                left: calc((50%) - (var(--mwidth-l)/2));
                top: 50%;
                background: $black;
                content: '';
                display: block;
                position: absolute;
                transition:var(--transition);
                width: var(--mwidth-l);
                height: var(--mheight-l);
                &::before{
                    top: calc(var(--top)*-1);
                    right: 0;
                    background: $black;
                    content: '';
                    display: block;
                    position: absolute;
                    transition:var(--transition);
                    width: var(--mwidth-l);
                    height: var(--mheight-l);
                }
                &::after{
                    top: var(--top);
                    right: 0;
                    background: $black;
                    content: '';
                    display: block;
                    position: absolute;
                    transition:var(--transition);
                    width: var(--mwidth-l);
                    height: var(--mheight-l);
                }
            }
        }
        
        #menu:checked + .icon .menu {
            background: transparent;
            &::before {
                transform: rotate(45deg);
                top: 0;
                transition: top ease .3s, transform ease .3s .3s;
            }
            &::after {
                transform: rotate(-45deg);
                width: var(--mwidth-l);
                top: 0;
                transition: top ease .3s, transform ease .3s .3s;
            }
        }
        
    }
    .btn-tgl{
        padding: 0;
        border: 0;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .bc-active{
        background-color: $black;
        color: $white;
    }
  }

@media screen and (max-width: 1024px) {
    .nvgtn{
        display: none;
    }
    .nvgtn-m{
        --mpadding-m: 0.976vw;
        --transition: $black ease .3s, top ease .3s .3s, transform ease .3s;
        --mborderw-m: 0.097vw;
        --mborders-m: solid;
        --mborderc-m: $black;
        border-width: var(--mborderw-m);
        border-style: var(--mborders-m);
        border-color: var(--mborderc-m);
        padding: var(--mpadding-m);
        border-radius: $radius-t;
        font-weight: 400;
        font-size: 2.344vw;
        line-height: 2.344vw;
        display: flex;
        .logo-c{
            display: flex;
            align-items: center;
            margin-left: 5.371vw;
            .logo{
                width: 8.496vw;
                height: 3.906vw;
            }
        }
        .sr-c{
            display: flex;
            border-width: var(--mborderw-m);
            border-style: var(--mborders-m);
            border-color: var(--mborderc-m);
            border-radius: $radius-t;
            padding: var(--mpadding-m);
            width: 82.422vw;
            height: 7.813vw;
            justify-content: space-between;
            .socials{
                display: flex;
                .social{
                    width: 5.86vw;
                    height: 5.86vw;
                    display: block;
                    margin-right: 1.855vw;
                    &:last-child{
                        margin-right: 0;
                    }
                    circle{
                        stroke: $black;
                    }
                    path{
                        fill: $black;
                        stroke: $black;
                    }
                    &:hover{
                        circle{
                            fill:$black;
                            stroke: $black;
                        }
                        path{
                            fill: $white;
                        }
                    }
                }
            }
            .resume-c{
                display: flex;
                align-items: center;
                width: 26.855vw;
                height: 5.859vw;
                border: var(--mborderw-l) var(--mborders-l) var(--mborderc-l);
                border-radius: $radius-t;
                background-color: $black;
                padding: var(--mpadding-m);
                justify-content: space-between;
                .resume{
                    color: $white;
                    display: flex;
                    margin-left: 1.563vw;
                }
                .arw-con{
                    width: 9.766vw;
                    height: 3.906vw;
                    border-radius: $radius-t;
                    background-color: $grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .arw{
                        width: 2.93vw;
                    }
                }
            }
        }
        .nvc{
            display: flex;
            border-width: var(--mborderw-m);
            border-style: var(--mborders-m);
            border-color: var(--mborderc-m);
            border-radius: $radius-d;
            padding: var(--mpadding-m);
            align-items: center;
            justify-content: space-between;
            margin:0;
            margin-top: 0.976vw;
            width: 384px;
            height: 50px;
            .nvc-item{
                width: 30.078vw;
                height: 5.859vw;
                border-width: var(--mborderw-m);
                border-style: var(--mborders-m);
                border-color: var(--mborderc-m);
                border-radius: $radius-d;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1.953vw;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .nvc-m{
            display: flex;
            padding: var(--mpadding-m);
            justify-content: space-between;
            align-items: center;
            border-radius: $radius-t;
            color: $white;
            margin-top: -1.954vw;
            .menu-icon{
                width: 9.766vw;
                height: 3.906vw;
                background-color: #D9D9D9;
                border-radius: $radius-t;
            }
        }
        .nvc-e{
            width: 26.855vw;
            height: 5.86vw;
            background-color: $black;
            padding-left:3.32vw;
            margin-top: 0px;
        }
        input#menu {
            display: none;
        }
        label.icon {
            position: relative;
            z-index: 200;
        }
        .icon{
            background: transparent;
            cursor: pointer;
            display: block;
            width: 9.766vw;
            height: 3.906vw;
            .menu{
                --top:0.976vw;
                --mwidth-l:2.93vw;
                --mheight-l:0.294vw;
                left: calc((50%) - (var(--mwidth-l)/2));
                top: 50%;
                background: $black;
                content: '';
                display: block;
                position: absolute;
                transition:var(--transition);
                width: var(--mwidth-l);
                height: var(--mheight-l);
                &::before{
                    top: calc(var(--top)*-1);
                    right: 0;
                    background: $black;
                    content: '';
                    display: block;
                    position: absolute;
                    transition:var(--transition);
                    width: var(--mwidth-l);
                    height: var(--mheight-l);
                }
                &::after{
                    top: var(--top);
                    right: 0;
                    background: $black;
                    content: '';
                    display: block;
                    position: absolute;
                    transition:var(--transition);
                    width: var(--mwidth-l);
                    height: var(--mheight-l);
                }
            }
        }
        
        #menu:checked + .icon .menu {
            background: transparent;
            &::before {
                transform: rotate(45deg);
                top: 0;
                transition: top ease .3s, transform ease .3s .3s;
            }
            &::after {
                transform: rotate(-45deg);
                width: var(--mwidth-l);
                top: 0;
                transition: top ease .3s, transform ease .3s .3s;
            }
        }
        
    }
  }

@media screen and (max-width: 414px) {
    .nvgtn{
        display: none;
    }
    .nvgtn-m{
        --mpadding-s: 1.208vw;
        --transition: $black ease .3s, top ease .3s .3s, transform ease .3s;
        --mborderw-s: 0.242vw;
        --mborders-s: solid;
        --mborderc-s: $black;
        border-width: var(--mborderw-s);
        border-style: var(--mborders-s);
        border-color: var(--mborderc-s);
        padding: var(--mpadding-s);
        border-radius: $radius-mc;
        font-weight: 400;
        font-size: 4.831vw;
        line-height: 6.522vw;
        display: flex;
        .logo-c{
            display: flex;
            align-items: center;
            margin-left: 6.522vw;
            .logo{
                width: 10.507vw;
                height: 4.831vw;
            }
        }
        .sr-c{
            display: flex;
            border-width: var(--mborderw-s);
            border-style: var(--mborders-s);
            border-color: var(--mborderc-s);
            border-radius: $radius-m;
            padding: var(--mpadding-s);
            width: 306px;
            height: 52px;
            justify-content: space-between;
            .socials{
                display: flex;
                .social{
                    width: 40.001px;
                    height: 40.001px;
                    display: block;
                    margin-right: 1.208vw;
                    &:last-child{
                        margin-right: 0;
                    }
                    circle{
                        stroke: $black;
                    }
                    path{
                        fill: $black;
                        stroke: $black;
                    }
                    &:hover{
                        circle{
                            fill:$black;
                            stroke: $black;
                        }
                        path{
                            fill: $white;
                        }
                    }
                }
            }
            .resume-c{
                display: flex;
                align-items: center;
                width: 39.13vw;
                height: 9.662vw;
                border-width: var(--mborderw-s);
                border-style: var(--mborders-s);
                border-color: var(--mborderc-s);
                border-radius: $radius-m;
                background-color: $black;
                padding: var(--mpadding-s);
                justify-content: space-between;
                margin-left: 5px;
                .resume{
                    color: $white;
                    display: flex;
                    margin-left: 3.623vw;
                }
                .arw-con{
                    width: 12.077vw;
                    height: 7.246vw;
                    border-radius: $radius-m;
                    background-color: $grey;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .arw{
                        width: 4.831vw;
                    }
                }
            }
        }
        .nvc{
            display: flex;
            border-width: var(--mborderw-s);
            border-style: var(--mborders-s);
            border-color: var(--mborderc-s);
            border-radius: $radius-m;
            padding: var(--mpadding-s);
            align-items: center;
            justify-content: space-between;
            margin:0;
            margin-top: 1.208vw;
            .nvc-item{
                width: 29.307vw;
                height: 9.662vw;
                border-width: var(--mborderw-s);
                border-style: var(--mborders-s);
                border-color: var(--mborderc-s);
                border-radius: $radius-m;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1.208vw;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        .nvc-m{
            display: flex;
            padding: var(--mpadding-s);
            justify-content: space-between;
            align-items: center;
            border-radius: $radius-m;
            color: $white;
            margin-top: 0vw;
            .menu-icon{
                width: 14.493vw;
                height: 7.246vw;
                background-color: #D9D9D9;
                border-radius: $radius-m;
            }
        }
        .nvc-e{
            width: 48.309vw;
            height: 9.662vw;
            background-color: $black;
            padding-left:4.831vw;
            margin-top: 0vw;
        }
        input#menu {
            display: none;
        }
        label.icon {
            position: relative;
            z-index: 200;
        }
        .icon{
            background: transparent;
            cursor: pointer;
            display: block;
            width: 14.493vw;
            height: 7.246vw;
            .menu{
                --top:1.691vw;
                --mwidth-m:4.831vw;
                --mheight-m:0.483vw;
                left: calc((50%) - (var(--mwidth-m)/2));
                top: 50%;
                background: $black;
                content: '';
                display: block;
                position: absolute;
                transition:var(--transition);
                width: var(--mwidth-m);
                height: var(--mheight-m);
                &::before{
                    top: calc(var(--top)*-1);
                    right: 0;
                    background: $black;
                    content: '';
                    display: block;
                    position: absolute;
                    transition:var(--transition);
                    width: var(--mwidth-m);
                    height: var(--mheight-m);
                }
                &::after{
                    top: var(--top);
                    right: 0;
                    background: $black;
                    content: '';
                    display: block;
                    position: absolute;
                    transition:var(--transition);
                    width: var(--mwidth-m);
                    height: var(--mheight-m);
                }
            }
        }
        
        #menu:checked + .icon .menu {
            background: transparent;
            &::before {
                transform: rotate(45deg);
                top: 0;
                transition: top ease .3s, transform ease .3s .3s;
            }
            &::after {
                transform: rotate(-45deg);
                width: var(--mwidth-m);
                top: 0;
                transition: top ease .3s, transform ease .3s .3s;
            }
        }
        
    }
  }