.ipt{
    display: grid;
    grid-template-areas: 'ttc ttc' 'ov tg';
    margin-top: 1.563vw;
    .tt-c{
        padding: 2.865vw 3.802vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: $radius;
        grid-area: ttc;
        margin-bottom: 1.563vw;
        .bt-c{
            display: flex;
            flex-direction: column;
            button{
                font-size: 1.667vw;
                line-height: 1.667vw;
                border-width: 0.156vw;
                border-style: solid;
                padding: 1.25vw 2.188vw;
                margin-bottom: 1.25vw;
                border-radius: $radius;
                background: none;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            a{
                text-decoration: none;
            }
        }
    }
    .ov{
        padding: 3.125vw 3.385vw;
        border-radius: $radius;
        min-width: 64.931vw;
        height: 26.563vw;
        grid-area: ov;
        margin-right: 1.563vw;
    }
    .tg{
        padding: 3.125vw 2.604vw;
        border-radius: $radius;
        max-width: 32.465vw;
        height: 26.563vw;
        grid-area: tg;
    }
}

@media screen and (max-width: 1280px) {
    .ipt{
        display: grid;
        grid-template-areas: 'ttc ttc' 'ov tg';
        margin-top: 2.344vw;
        .tt-c{
            padding: 7.656vw 3.516vw 7.656vw 3.516vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: $radius-d;
            grid-area: ttc;
            margin-bottom: 2.344vw;
            .bt-c{
                display: flex;
                flex-direction: column;
                button{
                    font-size: 1.875vw;
                    line-height: 1.875vw;
                    border-width: 0.234vw;
                    border-style: solid;
                    padding: 1.406vw 2.813vw;
                    margin-bottom: 2.656vw;
                    border-radius: $radius-d;
                    background: none;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                a{
                    text-decoration: none;
                }
            }
        }
        .ov{
            padding: 3.828vw 3.555vw;
            border-radius: $radius-d;
            min-width: 48.047vw;
            height: 39.844vw;
            grid-area: ov;
            margin-right: 2.344vw;
        }
        .tg{
            padding: 3.828vw 3.555vw;
            border-radius: $radius-d;
            max-width: 48.047vw;
            height: 39.844vw;
            grid-area: tg;
        }
    }

}

@media screen and (max-width: 1024px) {
    .ipt{
        display: grid;
        grid-template-areas: 'ttc ttc' 'ov tg';
        margin-top: 2.93vw;
        .tt-c{
            padding: 15.625vw 4.785vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: $radius-t;
            grid-area: ttc;
            margin-bottom: 2.93vw;
            .bt-c{
                display: flex;
                flex-direction: column;
                button{
                    font-size: 2.344vw;
                    line-height: 3.125vw;
                    border-width: 0.293vw;
                    border-style: solid;
                    padding: 1.367vw 2.734vw;
                    margin-bottom: 2.93vw;
                    border-radius: $radius-t;
                    background: none;
                    white-space: nowrap;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                a{
                    text-decoration: none;
                }
            }
        }
        .ov{
            padding: 5.371vw 4.785vw;
            border-radius: $radius-t;
            min-width: 48.047vw;
            height: 65.977vw;
            grid-area: ov;
            margin-right: 2.93vw;
        }
        .tg{
            padding: 4.785vw 5.371vw;
            border-radius: $radius-t;
            max-width: 48.047vw;
            height: 65.977vw;
            grid-area: tg;
        }
    }

}

@media screen and (max-width: 480px) {
    .ipt{
        display: grid;
        grid-template-areas: 'ttc' 'ov' 'tg';
        margin-top: 4.831vw;
        .tt-c{
            padding: 9.662vw 5.193vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            border-radius: $radius-t;
            grid-area: ttc;
            margin-bottom: 2.415vw;
            h1{
                margin-bottom: 3.623vw;
            }
            .bt-c{
                display: flex;
                flex-direction: unset;
                button{
                    font-size: 4.831vw;
                    line-height: 6.522vw;
                    border-width: 0.725vw;
                    border-style: solid;
                    padding: 1.449vw 7.246vw;
                    margin-bottom: 0vw;
                    margin-right: 4.831vw;
                    border-radius: $radius-t;
                    background: none;
                    &:last-child{
                        margin-bottom: 0;
                        margin-right: 0;
                    }
                }
                a{
                    text-decoration: none;
                }
            }
        }
        .ov{
            padding: 9.662vw 6.763vw;
            border-radius: $radius-mc;
            min-width: unset;
            height: unset;
            grid-area: ov;
            margin-right: 0vw;
            margin-bottom: 2.415vw;
        }
        .tg{
            padding: 9.662vw 6.763vw;
            border-radius: $radius-mc;
            max-width: unset;
            height: unset;
            grid-area: tg;
        }
    }
}