.pjts{
    margin-top: 1.563vw;
    --pborderw:0.156vw;
    --pborders:solid;
    --pborderc: $white;
    display: grid;
    grid-template-areas: "gtn efs ecm""gtn ptf ptf";
    .pjts-c{
        max-width: 31.944vw;
        border-radius: $radius;
        padding: 2.604vw 2.587vw 2.552vw;
    }
    button{
        border-color: $white;
        color: $white;
    }
    h3{
        margin-top: 1.302vw;
        margin-bottom: 0.99vw;
    }
    .gtn{
        background-color: $purple;
        color: $white;
        min-height: 45.313vw;
        grid-area: gtn;
        margin-right: 1.563vw;
    }
    .efs{
        background-color: $greyblue;
        min-height: 21.875vw;
        color: $white;
        grid-area: efs;
        margin-bottom: 1.563vw;
        margin-right: 1.563vw;
    }
    .ecm{
        background-color: $yellow;
        min-height: 21.875vw;
        color: $white;
        grid-area: ecm;
        margin-bottom: 1.563vw;
    }
    .ptf{
        background-color: #DADCF1;
        min-height: 21.875vw;
        color: $black;
        grid-area: ptf;
        min-width: 65.452vw;
        button{
            color: $black;
            border: 0.156vw solid $black;
        }
    }
}

@media screen and (max-width: 1280px) {
    .pjts{
        margin-top: 2.344vw;
        --pborderw:0.234vw;
        --pborders:solid;
        --pborderc: $white;
        display: grid;
        grid-template-areas: "gtn efs" "gtn ecm" "ptf ptf";
        .pjts-c{
            max-width: 48.047vw;
            border-radius: $radius;
            padding: 4.141vw 3.516vw;
        }
        button{
            font-size: 1.875vw;
            line-height: 1.875vw;
            padding: 0.938vw 2.422vw;
            background: transparent;
            border: 0.234vw solid $white;
            border-radius: $radius;
            color: $white;
        }
        h3{
            margin-top: 1.563vw;
            margin-bottom: 1.172vw;
        }
        .gtn{
            min-height: 54.219vw;
            margin-right: 2.344vw;
            margin-bottom: 2.344vw;
        }
        .efs{
            min-height: 25.938vw;
            margin-bottom: 2.344vw;
            margin-right: 0vw;
        }
        .ecm{
            min-height: 25.938vw;
            margin-bottom: 2.344vw;
        }
        .ptf{
            background-color: #DADCF1;
            max-width: 98.438vw;
            min-height: 25.938vw;
            button{
                color: $black;
                border: 0.234vw solid $black;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .pjts{
        margin-top: 1.953vw;
        --pborderw:0.293vw;
        --pborders:solid;
        --pborderc: $white;
        display: grid;
        grid-template-areas: "gtn efs" "gtn ecm" "ptf ptf";
        .pjts-c{
            width: 48.047vw;
            border-radius: $radius-t;
            padding: 5.371vw 4.883vw;
        }
        h1{
            margin-top: 1.953vw;
            margin-bottom: 1.465vw;
        }
        .gtn{
            min-height: 74.609vw;
            margin-right: 1.953vw;
            margin-bottom: 1.953vw;
        }
        .efs{
            min-height: 36.328vw;
            margin-bottom: 1.953vw;
            margin-right: 0vw;
        }
        .ecm{
            min-height: 36.328vw;
            margin-bottom: 1.953vw;
        }
        .ptf{
            background-color: #DADCF1;
            width: 98.047vw;
            min-height: 37.305vw;
            button{
                color: $black;
                border: 0.293vw solid $black;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .pjts{
        margin-top: 4.831vw;
        --pborderw:0.725vw;
        --pborders:solid;
        --pborderc: $white;
        display: grid;
        grid-template-areas: "gtn" "efs" "ecm" "ptf";
        .pjts-c{
            width: unset;
            border-radius: $radius-mc;
            padding: 9.662vw 6.763vw;
        }
        button{
            font-size: 4.831vw;
            line-height: 6.522vw;
            padding: 1.208vw 4.831vw;
            background: transparent;
            border: 0.725vw solid $white;
            border-radius: $radius-m;
            color: $white;
        }
        h1{
            margin-top: 4.831vw;
            margin-bottom: 3.623vw;
        }
        .gtn{
            min-height: unset;
            margin-right: 0vw;
            margin-bottom: 4.831vw;
        }
        .efs{
            min-height: unset;
            margin-bottom: 4.831vw;
            margin-right: 0vw;
        }
        .ecm{
            min-height: unset;
            margin-bottom: 4.831vw;
        }
        .ptf{
            background-color: #DADCF1;
            width: unset;
            min-height: unset;
            button{
                color: $black;
                border: 0.725vw solid $black;
            }
        }
    }
}