.tl{
    margin-top: 1.563vw;
    display: grid;
    grid-template-areas: 'pgp tcs griet';
    .tl-i{
        margin-right: 1.042vw;
        &:last-child{
            margin-right: 0;
        }
    }
    .pgp-i{
        grid-area: pgp;
    }
    .tcs-i{
        grid-area: tcs;
    }
    .griet-i{
        grid-area: griet;
    }
    .tl-c{
        border-radius: $radius;
        width: 31.944vw;
        height: 45.313vw;
        padding: 2.604vw 2.214vw;
        color: $white;
        button{
            color: $white;
            border-color: $white;
        }
        h3{
            margin:1.042vw 0 0;
        }
        .tl-h{
            padding-bottom: 1.042vw;
            border-bottom: 0.156vw solid $white;
            margin:1.198vw 0 1.042vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            button{
                color: $white;
            }
        }
    }
    .pgp-g{
        background-color: $green;
    }
    .pgp-y{
        background-color: $yellow;
    }
    .tcs-p{
        background-color: $lightpurple;
        color: $black;
        button{
            color: $black;
            border-color: $black;
        }
        .tl-h{
            border-bottom: 0.156vw solid $black;
            padding-bottom: 1.042vw;
            button{
                border-color: $black;
                color: $black;
            }
        }
    }
    .tcs-g{
        background-color: $greengrey;
    }
    .griet-p{
        background-color: $purple;
    }
    .griet-b{
        background-color: $blue;
    }
}

@media screen and (max-width: 1280px) {
    .tl{
        margin-top: 2.345vw;
        display: grid;
        grid-template-areas: 'pgp tcs' 'griet griet';
        .tl-i{
            margin-right: 2.344vw;
            margin-bottom: 2.344vw;
            &:nth-child(2){
                margin-right: 0;
            }
            &:last-child{
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        .tl-c{
            border-radius: $radius-d;
            max-width: 48.047vw;
            width: unset;
            height: 63.164vw;
            padding: 3.906vw 3.321vw;
            color: $white;
            h3{
                margin:1.563vw 0 0;
            }
            .tl-h{
                padding-bottom: 1.563vw;
                border-bottom: 0.234vw solid $white;
                margin:1.797vw 0 1.563vw;
            }
        }
        .tcs-p{
            background-color: $lightpurple;
            color: $black;
            button{
                color: $black;
                border-color: $black;
            }
            .tl-h{
                border-bottom: 0.234vw solid $black;
                button{
                    border-color: $black;
                    color: $black;
                }
            }
        }
        .griet{
            max-width: 98.438vw;
            width: unset;
            height: 34.57vw;
        }
    }
}

@media screen and (max-width: 1024px) {
    .tl{
        margin-top: 1.954vw;
        display: grid;
        grid-template-areas: 'pgp tcs' 'griet griet';
        .tl-i{
            margin-right: 1.954vw;
            margin-bottom: 1.953vw;
            &:last-child{
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        .tl-c{
            border-radius: $radius-t;
            max-width: 48.047vw;
            width: unset;
            height: 83.936vw;
            padding: 3.906vw 3.369vw;
            // button{
            //     font-size: 1.953vw;
            //     line-height: 1.953vw;
            //     background: none;
            //     border:0.292vw solid $white;
            //     padding: 0.684vw 1.953vw;
            //     border-radius: $radius-t;
            // }
            h3{
                margin:1.954vw 0 0;
            }
            .tl-h{
                padding-bottom: 2.246vw;
                border-bottom: 0.292vw solid $white;
                margin:2.246vw 0 1.66vw;
                display: flex;
                justify-content: space-between;
            }
        }
        .tcs-p{
            background-color: $lightpurple;
            color: $black;
            button{
                color: $black;
                border-color: $black;
            }
            .tl-h{
                border-bottom: 0.292vw solid $black;
                button{
                    border-color: $black;
                    color: $black;
                }
            }
        }
        .griet{
            max-width: 98.047vw;
            width: unset;
            height: 43.994vw;
        }
    }
}

@media screen and (max-width: 480px) {
    .tl{
        margin-top: 4.833vw;
        display: grid;
        grid-template-areas: 'pgp' 'tcs' 'griet';
        .tl-i{
            margin-right: 0;
            margin-bottom: 4.831vw;
            &:last-child{
                margin-right: 0;
                margin-bottom: 0;
            }
        }
        .tl-c{
            border-radius: $radius-mc;
            // max-width: 95.169vw;
            max-width: unset;
            width: unset;
            // height: 156.039vw;
            height: unset;
            padding: 9.662vw 6.763vw;
            // button{
            //     font-size: 3.865vw;
            //     line-height: 5.314vw;
            //     background: none;
            //     border:0.723vw solid $white;
            //     padding: 1.812vw 4.831vw;
            //     border-radius: $radius-m;
            // }
            h3{
                margin:2.657vw 0 0vw;
            }
            .tl-h{
                padding-bottom: 3.623vw;
                border-bottom: 0.723vw solid $white;
                margin: 3.623vw 0 2.415vw;
                display: flex;
                justify-content: space-between;
                h2{
                    font-size: 4.831vw;
                    line-height: 6.522vw;
                    margin: 0;
                }
            }
            p{
                font-size: 3.865vw;
                line-height: 5.797vw;
                margin-bottom: 2.174vw;
            }
        }
        .tcs-p{
            background-color: $lightpurple;
            color: $black;
            button{
                color: $black;
                border-color: $black;
            }
            .tl-h{
                border-bottom: 0.723vw solid $black;
                button{
                    border-color: $black;
                    color: $black;
                }
            }
        }
        .pgp{
            height: 108.333vw;
        }
        .tcs{
            height: 160.749vw;
        }
        .griet{
            width: unset;
            max-width: unset;
            height: 118.478vw;
        }
    }
}