body {
  font-family: "Open Sans", sans-serif;
  padding: 0.521vw;
  margin: 0;
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  body {
    padding: 2.415vw;
  }
}
.nvgtn {
  padding: 0.521vw;
  border: 0.052vw solid #000000;
  border-radius: 2.604vw;
  font-weight: 400;
  font-size: 1.667vw;
  line-height: 1.667vw;
  display: flex;
}
.nvgtn .logo-c {
  display: flex;
  align-items: center;
  margin-left: 2.344vw;
}
.nvgtn .logo-c .logo {
  width: 4.531vw;
  height: 2.083vw;
}
.nvgtn .nvc {
  display: flex;
  border: 0.052vw solid #000000;
  border-radius: 2.604vw;
  padding: 0.521vw;
  width: 42.188vw;
  align-items: center;
  justify-content: space-between;
  margin: 0 3.125vw;
}
.nvgtn .nvc .nvc-item {
  width: 13.021vw;
  height: 3.125vw;
  border: 0.052vw solid #000000;
  border-radius: 2.604vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nvgtn .sr-c {
  display: flex;
}
.nvgtn .socials {
  display: flex;
}
.nvgtn .socials .social {
  width: 4.167vw;
  height: 4.167vw;
  display: block;
  margin-right: 0.885vw;
}
.nvgtn .socials .social:last-child {
  margin-right: 0;
}
.nvgtn .socials .social circle {
  stroke: #000000;
}
.nvgtn .socials .social path {
  fill: #000000;
  stroke: #000000;
}
.nvgtn .socials .social:hover circle {
  fill: #000000;
  stroke: #000000;
}
.nvgtn .socials .social:hover path {
  fill: #fff;
}
.nvgtn .resume-c {
  margin-left: 12.604vw;
  display: flex;
  align-items: center;
  width: 15.625vw;
  height: 4.167vw;
  border: 0.052vw solid #000000;
  border-radius: 2.604vw;
  background-color: #000000;
  padding: 0.521vw;
  justify-content: space-between;
}
.nvgtn .resume-c .resume {
  color: #fff;
  display: flex;
  margin-left: 1.25vw;
}
.nvgtn .resume-c .arw-con {
  width: 6.25vw;
  height: 3.125vw;
  border-radius: 2.604vw;
  background-color: #8D8D8D;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nvgtn .resume-c .arw-con .arw {
  width: 2.083vw;
}

.nvgtn-m {
  display: none;
}

@media screen and (max-width: 480px) {
  .nvgtn {
    display: none;
  }
  .nvgtn-m {
    padding: 1.208vw;
    border: 0.242vw solid #000000;
    border-radius: 6.522vw;
    font-weight: 400;
    font-size: 4.831vw;
    line-height: 6.522vw;
    display: flex;
  }
  .nvgtn-m .logo-c {
    display: flex;
    align-items: center;
    margin-left: 27.001px;
  }
  .nvgtn-m .logo-c .logo {
    width: 43.499px;
    height: 20px;
  }
  .nvgtn-m .socials {
    display: flex;
  }
  .nvgtn-m .socials .social {
    width: 9.662vw;
    height: 9.662vw;
    display: block;
    margin-right: 1.208vw;
  }
  .nvgtn-m .socials .social:last-child {
    margin-right: 0;
  }
  .nvgtn-m .socials .social circle {
    stroke: #000000;
  }
  .nvgtn-m .socials .social path {
    fill: #000000;
    stroke: #000000;
  }
  .nvgtn-m .socials .social:hover circle {
    fill: #000000;
    stroke: #000000;
  }
  .nvgtn-m .socials .social:hover path {
    fill: #fff;
  }
  .nvgtn-m .resume-c {
    margin-left: 1.208vw;
    display: flex;
    align-items: center;
    width: 39.13vw;
    height: 9.662vw;
    border: 0.242vw solid #000000;
    border-radius: 12.077vw;
    background-color: #000000;
    padding: 1.208vw;
    justify-content: space-between;
    font-size: 4.831vw;
    line-height: 6.522vw;
  }
  .nvgtn-m .resume-c .resume {
    color: #fff;
    display: flex;
    margin-left: 4.831vw;
  }
  .nvgtn-m .resume-c .arw-con {
    width: 12.077vw;
    height: 7.246vw;
    border-radius: 12.077vw;
    background-color: #8D8D8D;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nvgtn-m .resume-c .arw-con .arw {
    width: 4.831vw;
  }
  .nvgtn-m .sr-c {
    display: flex;
    border: 0.242vw solid #000000;
    border-radius: 12.077vw;
    padding: 1.208vw;
    height: 12.077vw;
  }
  .nvgtn-m #menu:checked .nvc {
    display: none;
  }
  .nvgtn-m .nvc {
    display: flex;
    border: 0.242vw solid #000000;
    border-radius: 12.077vw;
    padding: 1.208vw;
    width: 92.754vw;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    font-size: 4.831vw;
    line-height: 6.522vw;
    margin-top: 1.208vw;
  }
  .nvgtn-m .nvc .nvc-item {
    width: 29.307vw;
    height: 9.662vw;
    border: 0.242vw solid #000000;
    border-radius: 12.077vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nvgtn-m .nvc-m {
    display: flex;
    padding: 1.208vw;
    justify-content: space-between;
    border-radius: 12.077vw;
    font-size: 4.831vw;
    line-height: 6.522vw;
    color: #fff;
  }
  .nvgtn-m .nvc-m .menu-icon {
    width: 14.493vw;
    height: 7.246vw;
    padding: 1.932vw 4.831vw;
    background-color: #D9D9D9;
    border-radius: 12.077vw;
  }
  .nvgtn-m .nvc-e {
    width: 48.309vw;
    height: 9.662vw;
    background-color: #000000;
    padding-left: 6.039vw;
  }
  .nvgtn-m input#menu {
    display: none;
  }
  .nvgtn-m .icon {
    background: transparent;
    cursor: pointer;
    display: block;
    width: 4.831vw;
    height: 4.831vw;
  }
  .nvgtn-m label.icon {
    position: relative;
    z-index: 200;
  }
  .nvgtn-m .icon .menu::before {
    background: #000000;
    content: "";
    display: block;
    height: 0.483vw;
    position: absolute;
    transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
    width: 4.831vw;
  }
  .nvgtn-m .icon .menu {
    background: #000000;
    content: "";
    display: block;
    height: 0.483vw;
    position: absolute;
    transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
    width: 4.831vw;
  }
  .nvgtn-m .icon .menu::after {
    background: #000000;
    content: "";
    display: block;
    height: 0.483vw;
    position: absolute;
    transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
    width: 4.831vw;
  }
  .nvgtn-m .icon .menu::before {
    top: -1.691vw;
    right: 0;
  }
  .nvgtn-m .icon .menu {
    left: 0vw;
    top: 1.691vw;
  }
  .nvgtn-m .icon .menu::after {
    top: 1.691vw;
    right: 0;
  }
  .nvgtn-m #menu:checked + .icon .menu {
    background: transparent;
  }
  .nvgtn-m #menu:checked + .icon .menu::before {
    transform: rotate(45deg);
  }
  .nvgtn-m #menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
    width: 4.831vw;
  }
  .nvgtn-m #menu:checked + .icon .menu::before,
.nvgtn-m #menu:checked + .icon .menu::after {
    top: 0;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
  }
  .btn-tgl {
    padding: 0;
    border: 0;
  }
  .btn-tgl:focus {
    outline: none;
    box-shadow: none;
  }
  .bc-active {
    background-color: #000000;
    color: #fff;
  }
}
.abt {
  font-weight: 400;
  display: grid;
  grid-template-areas: "title title" "aboutme skills";
}
.abt h1 {
  font-size: 6.667vw;
  line-height: 6.667vw;
  font-weight: 400;
  margin-bottom: 1.615vw;
  font-family: "Open Sans", sans-serif;
}
.abt h2 {
  font-size: 1.667vw;
  line-height: 2.083vw;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.562vw;
}
.abt p {
  font-size: 1.25vw;
  line-height: 2.083vw;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.042vw;
}
.abt p:last-child {
  margin-bottom: 0;
}
.abt .abt-a {
  background-color: #839292;
  border-radius: 2.604vw;
  margin-top: 1.458vw;
  color: #fff;
  display: flex;
  padding: 1.771vw 3.229vw 2.396vw 2.865vw;
  justify-content: space-between;
  margin-bottom: 1.562vw;
  grid-area: title;
}
.abt .abt-a button {
  font-size: 1.667vw;
  line-height: 1.667vw;
  padding: 1.094vw 2.292vw;
  border-radius: 2.604vw;
  border: 0.156vw solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.abt .abt-a .tl-img img {
  width: 13.021vw;
  height: 13.021vw;
}
.abt .abt-b {
  width: 48.698vw;
  min-width: 48.698vw;
  height: 26.562vw;
  min-height: 26.562vw;
  border-radius: 2.604vw;
  background-color: #000000;
  color: #fff;
  padding: 3.125vw 2.708vw;
  margin-right: 0.521vw;
  grid-area: aboutme;
}
.abt .abt-c {
  width: 48.698vw;
  min-width: 48.698vw;
  height: 26.562vw;
  min-height: 26.562vw;
  border-radius: 2.604vw;
  background-color: #C3DA37;
  padding: 3.125vw 2.708vw;
  grid-area: skills;
}
.abt .abt-c button {
  border: 0.052vw solid #000000;
  background-color: transparent;
  border-radius: 2.604vw;
  font-size: 1.667vw;
  line-height: 1.667vw;
  padding: 0.521vw 1.719vw;
  margin-right: 0.781vw;
  margin-bottom: 0.781vw;
}

.ftr {
  border: 1px solid #000000;
  height: 1.563vw;
  border-radius: 2.604vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.833vw;
  line-height: 0.833vw;
  margin-top: 1.563vw;
}/*# sourceMappingURL=index.css.map */