body {
  font-family: "Open Sans", sans-serif;
  padding: 0.521vw;
  margin: 0;
  background-color: #fff;
}

h1 {
  font-size: 128px;
  line-height: 128px;
}

h2 {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 30px;
}

h3 {
  font-size: 40px;
  line-height: 64px;
}

p {
  font-size: 24px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
p:last-child {
  margin-bottom: 0;
}

.btns {
  font-size: 32px;
  line-height: 32px;
  padding: 8.5px 33px;
  background: none;
  border-radius: 2.604vw;
  border: 1px solid #000000;
}

.btntl {
  font-size: 24px;
  line-height: 32px;
  padding: 8.5px 33px;
  background: none;
  border-radius: 2.604vw;
  border: 3px solid #000000;
}

.ls-c .ls {
  width: 47px;
  height: 47px;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 20px;
}
ul li:last-child {
  margin-bottom: 0;
}
ul li::marker {
  content: "";
}

@media screen and (max-width: 1280px) {
  body {
    padding: 0.781vw;
  }
}
@media screen and (max-width: 1024px) {
  body {
    padding: 0.976vw;
  }
}
@media screen and (max-width: 480px) {
  body {
    padding: 2.415vw;
  }
}
.nvgtn {
  padding: 0.521vw;
  border: 0.052vw solid #000000;
  border-radius: 2.604vw;
  font-weight: 400;
  font-size: 1.667vw;
  line-height: 1.667vw;
  display: flex;
}
.nvgtn .logo-c {
  display: flex;
  align-items: center;
  margin-left: 2.344vw;
}
.nvgtn .logo-c .logo {
  width: 4.531vw;
  height: 2.083vw;
}
.nvgtn .nvc {
  display: flex;
  border: 0.052vw solid #000000;
  border-radius: 2.604vw;
  padding: 0.521vw;
  width: 42.188vw;
  align-items: center;
  justify-content: space-between;
  margin: 0 3.125vw;
}
.nvgtn .nvc .nvc-item {
  width: 13.021vw;
  height: 3.125vw;
  border: 0.052vw solid #000000;
  border-radius: 2.604vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nvgtn .sr-c {
  display: flex;
}
.nvgtn .sr-c .socials {
  display: flex;
}
.nvgtn .sr-c .socials .social {
  width: 4.167vw;
  height: 4.167vw;
  display: block;
  margin-right: 0.885vw;
}
.nvgtn .sr-c .socials .social:last-child {
  margin-right: 0;
}
.nvgtn .sr-c .socials .social circle {
  stroke: #000000;
}
.nvgtn .sr-c .socials .social path {
  fill: #000000;
  stroke: #000000;
}
.nvgtn .sr-c .socials .social:hover circle {
  fill: #000000;
  stroke: #000000;
}
.nvgtn .sr-c .socials .social:hover path {
  fill: #fff;
}
.nvgtn .sr-c .resume-c {
  margin-left: 12.604vw;
  display: flex;
  align-items: center;
  width: 15.625vw;
  height: 4.167vw;
  border: 0.052vw solid #000000;
  border-radius: 2.604vw;
  background-color: #000000;
  padding: 0.521vw;
  justify-content: space-between;
}
.nvgtn .sr-c .resume-c .resume {
  color: #fff;
  display: flex;
  margin-left: 1.25vw;
}
.nvgtn .sr-c .resume-c .arw-con {
  width: 6.25vw;
  height: 3.125vw;
  border-radius: 2.604vw;
  background-color: #8D8D8D;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nvgtn .sr-c .resume-c .arw-con .arw {
  width: 2.083vw;
}

.bc-active {
  background-color: #000000;
  color: #fff;
}

.nvgtn-m {
  display: none;
}

@media screen and (max-width: 1280px) {
  .nvgtn {
    display: none;
  }
  .nvgtn-m {
    --mpadding-l: 0.781vw;
    --transition: $black ease .3s, top ease .3s .3s, transform ease .3s;
    --mborderw-l: 0.078vw;
    --mborders-l: solid;
    --mborderc-l: $black;
    border-width: var(--mborderw-l);
    border-style: var(--mborders-l);
    border-color: var(--mborderc-l);
    padding: var(--mpadding-l);
    border-radius: 3.906vw;
    font-weight: 400;
    font-size: 1.875vw;
    line-height: 1.875vw;
    display: flex;
  }
  .nvgtn-m .logo-c {
    display: flex;
    align-items: center;
    margin-left: 4.297vw;
  }
  .nvgtn-m .logo-c .logo {
    width: 6.797vw;
    height: 3.125vw;
  }
  .nvgtn-m .sr-c {
    display: flex;
    border-width: var(--mborderw-l);
    border-style: var(--mborders-l);
    border-color: var(--mborderc-l);
    border-radius: 4.883vw;
    padding: var(--mpadding-l);
    width: 81.25vw;
    height: 6.25vw;
    justify-content: space-between;
  }
  .nvgtn-m .sr-c .socials {
    display: flex;
  }
  .nvgtn-m .sr-c .socials .social {
    width: 4.688vw;
    height: 4.688vw;
    display: block;
    margin-right: 15px;
  }
  .nvgtn-m .sr-c .socials .social:last-child {
    margin-right: 0;
  }
  .nvgtn-m .sr-c .socials .social circle {
    stroke: #000000;
  }
  .nvgtn-m .sr-c .socials .social path {
    fill: #000000;
    stroke: #000000;
  }
  .nvgtn-m .sr-c .socials .social:hover circle {
    fill: #000000;
    stroke: #000000;
  }
  .nvgtn-m .sr-c .socials .social:hover path {
    fill: #fff;
  }
  .nvgtn-m .sr-c .resume-c {
    display: flex;
    align-items: center;
    width: 21.484vw;
    height: 4.687vw;
    border: var(--mborderw-l) var(--mborders-l) var(--mborderc-l);
    border-radius: 12.077vw;
    background-color: #000000;
    padding: var(--mpadding-l);
    justify-content: space-between;
  }
  .nvgtn-m .sr-c .resume-c .resume {
    color: #fff;
    display: flex;
    margin-left: 2.813vw;
  }
  .nvgtn-m .sr-c .resume-c .arw-con {
    width: 7.813vw;
    height: 3.125vw;
    border-radius: 3.906vw;
    background-color: #8D8D8D;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nvgtn-m .sr-c .resume-c .arw-con .arw {
    width: 2.344vw;
  }
  .nvgtn-m .nvc {
    display: flex;
    border-width: var(--mborderw-l);
    border-style: var(--mborders-l);
    border-color: var(--mborderc-l);
    border-radius: 4.883vw;
    padding: var(--mpadding-l);
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: 0.781vw;
  }
  .nvgtn-m .nvc .nvc-item {
    width: 30.729vw;
    height: 4.688vw;
    border-width: var(--mborderw-l);
    border-style: var(--mborders-l);
    border-color: var(--mborderc-l);
    border-radius: 3.906vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.484vw;
  }
  .nvgtn-m .nvc .nvc-item:last-child {
    margin-right: 0;
  }
  .nvgtn-m .nvc-m {
    display: flex;
    padding: var(--mpadding-l);
    justify-content: space-between;
    align-items: center;
    border-radius: 12.077vw;
    color: #fff;
    margin-top: -1.563vw;
  }
  .nvgtn-m .nvc-m .menu-icon {
    width: 7.813vw;
    height: 3.125vw;
    background-color: #D9D9D9;
    border-radius: 3.906vw;
  }
  .nvgtn-m .nvc-e {
    width: 21.484vw;
    height: 4.688vw;
    background-color: #000000;
    padding-left: 2.656vw;
    margin-top: 0px;
  }
  .nvgtn-m input#menu {
    display: none;
  }
  .nvgtn-m label.icon {
    position: relative;
    z-index: 200;
  }
  .nvgtn-m .icon {
    background: transparent;
    cursor: pointer;
    display: block;
    width: 7.813vw;
    height: 3.125vw;
  }
  .nvgtn-m .icon .menu {
    --top:0.781vw;
    --mwidth-l:2.344vw;
    --mheight-l:0.235vw;
    left: calc(50% - var(--mwidth-l) / 2);
    top: 50%;
    background: #000000;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    width: var(--mwidth-l);
    height: var(--mheight-l);
  }
  .nvgtn-m .icon .menu::before {
    top: calc(var(--top) * -1);
    right: 0;
    background: #000000;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    width: var(--mwidth-l);
    height: var(--mheight-l);
  }
  .nvgtn-m .icon .menu::after {
    top: var(--top);
    right: 0;
    background: #000000;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    width: var(--mwidth-l);
    height: var(--mheight-l);
  }
  .nvgtn-m #menu:checked + .icon .menu {
    background: transparent;
  }
  .nvgtn-m #menu:checked + .icon .menu::before {
    transform: rotate(45deg);
    top: 0;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
  }
  .nvgtn-m #menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
    width: var(--mwidth-l);
    top: 0;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
  }
  .btn-tgl {
    padding: 0;
    border: 0;
  }
  .btn-tgl:focus {
    outline: none;
    box-shadow: none;
  }
  .bc-active {
    background-color: #000000;
    color: #fff;
  }
}
@media screen and (max-width: 1024px) {
  .nvgtn {
    display: none;
  }
  .nvgtn-m {
    --mpadding-m: 0.976vw;
    --transition: $black ease .3s, top ease .3s .3s, transform ease .3s;
    --mborderw-m: 0.097vw;
    --mborders-m: solid;
    --mborderc-m: $black
    border-width: var(--mborderw-m);
    border-style: var(--mborders-m);
    border-color: var(--mborderc-m);
    padding: var(--mpadding-m);
    border-radius: 4.883vw;
    font-weight: 400;
    font-size: 2.344vw;
    line-height: 2.344vw;
    display: flex;
  }
  .nvgtn-m .logo-c {
    display: flex;
    align-items: center;
    margin-left: 5.371vw;
  }
  .nvgtn-m .logo-c .logo {
    width: 8.496vw;
    height: 3.906vw;
  }
  .nvgtn-m .sr-c {
    display: flex;
    border-width: var(--mborderw-m);
    border-style: var(--mborders-m);
    border-color: var(--mborderc-m);
    border-radius: 4.883vw;
    padding: var(--mpadding-m);
    width: 82.422vw;
    height: 7.813vw;
    justify-content: space-between;
  }
  .nvgtn-m .sr-c .socials {
    display: flex;
  }
  .nvgtn-m .sr-c .socials .social {
    width: 5.86vw;
    height: 5.86vw;
    display: block;
    margin-right: 1.855vw;
  }
  .nvgtn-m .sr-c .socials .social:last-child {
    margin-right: 0;
  }
  .nvgtn-m .sr-c .socials .social circle {
    stroke: #000000;
  }
  .nvgtn-m .sr-c .socials .social path {
    fill: #000000;
    stroke: #000000;
  }
  .nvgtn-m .sr-c .socials .social:hover circle {
    fill: #000000;
    stroke: #000000;
  }
  .nvgtn-m .sr-c .socials .social:hover path {
    fill: #fff;
  }
  .nvgtn-m .sr-c .resume-c {
    display: flex;
    align-items: center;
    width: 26.855vw;
    height: 5.859vw;
    border: var(--mborderw-l) var(--mborders-l) var(--mborderc-l);
    border-radius: 4.883vw;
    background-color: #000000;
    padding: var(--mpadding-m);
    justify-content: space-between;
  }
  .nvgtn-m .sr-c .resume-c .resume {
    color: #fff;
    display: flex;
    margin-left: 1.563vw;
  }
  .nvgtn-m .sr-c .resume-c .arw-con {
    width: 9.766vw;
    height: 3.906vw;
    border-radius: 4.883vw;
    background-color: #8D8D8D;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nvgtn-m .sr-c .resume-c .arw-con .arw {
    width: 2.93vw;
  }
  .nvgtn-m .nvc {
    display: flex;
    border-width: var(--mborderw-m);
    border-style: var(--mborders-m);
    border-color: var(--mborderc-m);
    border-radius: 3.906vw;
    padding: var(--mpadding-m);
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: 0.976vw;
  }
  .nvgtn-m .nvc .nvc-item {
    width: 30.078vw;
    height: 5.859vw;
    border-width: var(--mborderw-m);
    border-style: var(--mborders-m);
    border-color: var(--mborderc-m);
    border-radius: 3.906vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.953vw;
  }
  .nvgtn-m .nvc .nvc-item:last-child {
    margin-right: 0;
  }
  .nvgtn-m .nvc-m {
    display: flex;
    padding: var(--mpadding-m);
    justify-content: space-between;
    align-items: center;
    border-radius: 4.883vw;
    color: #fff;
    margin-top: -1.954vw;
  }
  .nvgtn-m .nvc-m .menu-icon {
    width: 9.766vw;
    height: 3.906vw;
    background-color: #D9D9D9;
    border-radius: 4.883vw;
  }
  .nvgtn-m .nvc-e {
    width: 26.855vw;
    height: 5.86vw;
    background-color: #000000;
    padding-left: 3.32vw;
    margin-top: 0px;
  }
  .nvgtn-m input#menu {
    display: none;
  }
  .nvgtn-m label.icon {
    position: relative;
    z-index: 200;
  }
  .nvgtn-m .icon {
    background: transparent;
    cursor: pointer;
    display: block;
    width: 9.766vw;
    height: 3.906vw;
  }
  .nvgtn-m .icon .menu {
    --top:0.976vw;
    --mwidth-l:2.93vw;
    --mheight-l:0.294vw;
    left: calc(50% - var(--mwidth-l) / 2);
    top: 50%;
    background: #000000;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    width: var(--mwidth-l);
    height: var(--mheight-l);
  }
  .nvgtn-m .icon .menu::before {
    top: calc(var(--top) * -1);
    right: 0;
    background: #000000;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    width: var(--mwidth-l);
    height: var(--mheight-l);
  }
  .nvgtn-m .icon .menu::after {
    top: var(--top);
    right: 0;
    background: #000000;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    width: var(--mwidth-l);
    height: var(--mheight-l);
  }
  .nvgtn-m #menu:checked + .icon .menu {
    background: transparent;
  }
  .nvgtn-m #menu:checked + .icon .menu::before {
    transform: rotate(45deg);
    top: 0;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
  }
  .nvgtn-m #menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
    width: var(--mwidth-l);
    top: 0;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
  }
}
@media screen and (max-width: 460px) {
  .nvgtn {
    display: none;
  }
  .nvgtn-m {
    --mpadding-s: 1.208vw;
    --transition: $black ease .3s, top ease .3s .3s, transform ease .3s;
    --mborderw-s: 0.242vw;
    --mborders-s: solid;
    --mborderc-s: $black;
    border-width: var(--mborderw-s);
    border-style: var(--mborders-s);
    border-color: var(--mborderc-s);
    padding: var(--mpadding-s);
    border-radius: 25px;
    font-weight: 400;
    font-size: 4.831vw;
    line-height: 6.522vw;
    display: flex;
  }
  .nvgtn-m .logo-c {
    display: flex;
    align-items: center;
    margin-left: 6.522vw;
  }
  .nvgtn-m .logo-c .logo {
    width: 10.507vw;
    height: 4.831vw;
  }
  .nvgtn-m .sr-c {
    display: flex;
    border-width: var(--mborderw-s);
    border-style: var(--mborders-s);
    border-color: var(--mborderc-s);
    border-radius: 12.077vw;
    padding: var(--mpadding-s);
    width: 306px;
    height: 52px;
    justify-content: space-between;
  }
  .nvgtn-m .sr-c .socials {
    display: flex;
  }
  .nvgtn-m .sr-c .socials .social {
    width: 40.001px;
    height: 40.001px;
    display: block;
    margin-right: 1.208vw;
  }
  .nvgtn-m .sr-c .socials .social:last-child {
    margin-right: 0;
  }
  .nvgtn-m .sr-c .socials .social circle {
    stroke: #000000;
  }
  .nvgtn-m .sr-c .socials .social path {
    fill: #000000;
    stroke: #000000;
  }
  .nvgtn-m .sr-c .socials .social:hover circle {
    fill: #000000;
    stroke: #000000;
  }
  .nvgtn-m .sr-c .socials .social:hover path {
    fill: #fff;
  }
  .nvgtn-m .sr-c .resume-c {
    display: flex;
    align-items: center;
    width: 39.13vw;
    height: 9.662vw;
    border-width: var(--mborderw-s);
    border-style: var(--mborders-s);
    border-color: var(--mborderc-s);
    border-radius: 12.077vw;
    background-color: #000000;
    padding: var(--mpadding-s);
    justify-content: space-between;
    margin-left: 5px;
  }
  .nvgtn-m .sr-c .resume-c .resume {
    color: #fff;
    display: flex;
    margin-left: 3.623vw;
  }
  .nvgtn-m .sr-c .resume-c .arw-con {
    width: 12.077vw;
    height: 7.246vw;
    border-radius: 12.077vw;
    background-color: #8D8D8D;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nvgtn-m .sr-c .resume-c .arw-con .arw {
    width: 4.831vw;
  }
  .nvgtn-m .nvc {
    display: flex;
    border-width: var(--mborderw-s);
    border-style: var(--mborders-s);
    border-color: var(--mborderc-s);
    border-radius: 12.077vw;
    padding: var(--mpadding-s);
    align-items: center;
    justify-content: space-between;
    margin: 0;
    margin-top: 1.208vw;
  }
  .nvgtn-m .nvc .nvc-item {
    width: 29.307vw;
    height: 9.662vw;
    border-width: var(--mborderw-s);
    border-style: var(--mborders-s);
    border-color: var(--mborderc-s);
    border-radius: 12.077vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.208vw;
  }
  .nvgtn-m .nvc .nvc-item:last-child {
    margin-right: 0;
  }
  .nvgtn-m .nvc-m {
    display: flex;
    padding: var(--mpadding-s);
    justify-content: space-between;
    align-items: center;
    border-radius: 12.077vw;
    color: #fff;
    margin-top: 0vw;
  }
  .nvgtn-m .nvc-m .menu-icon {
    width: 14.493vw;
    height: 7.246vw;
    background-color: #D9D9D9;
    border-radius: 12.077vw;
  }
  .nvgtn-m .nvc-e {
    width: 48.309vw;
    height: 9.662vw;
    background-color: #000000;
    padding-left: 4.831vw;
    margin-top: 0vw;
  }
  .nvgtn-m input#menu {
    display: none;
  }
  .nvgtn-m label.icon {
    position: relative;
    z-index: 200;
  }
  .nvgtn-m .icon {
    background: transparent;
    cursor: pointer;
    display: block;
    width: 14.493vw;
    height: 7.246vw;
  }
  .nvgtn-m .icon .menu {
    --top:1.691vw;
    --mwidth-m:4.831vw;
    --mheight-m:0.483vw;
    left: calc(50% - var(--mwidth-m) / 2);
    top: 50%;
    background: #000000;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    width: var(--mwidth-m);
    height: var(--mheight-m);
  }
  .nvgtn-m .icon .menu::before {
    top: calc(var(--top) * -1);
    right: 0;
    background: #000000;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    width: var(--mwidth-m);
    height: var(--mheight-m);
  }
  .nvgtn-m .icon .menu::after {
    top: var(--top);
    right: 0;
    background: #000000;
    content: "";
    display: block;
    position: absolute;
    transition: var(--transition);
    width: var(--mwidth-m);
    height: var(--mheight-m);
  }
  .nvgtn-m #menu:checked + .icon .menu {
    background: transparent;
  }
  .nvgtn-m #menu:checked + .icon .menu::before {
    transform: rotate(45deg);
    top: 0;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
  }
  .nvgtn-m #menu:checked + .icon .menu::after {
    transform: rotate(-45deg);
    width: var(--mwidth-m);
    top: 0;
    transition: top ease 0.3s, transform ease 0.3s 0.3s;
  }
}
.abt {
  font-weight: 400;
  display: grid;
  grid-template-areas: "title title" "aboutme skills";
}
.abt h1 {
  margin-bottom: 31.008px;
  margin-top: 11.002px;
}
.abt .abt-a {
  background-color: #839292;
  border-radius: 2.604vw;
  margin-top: 27.994px;
  color: #fff;
  display: flex;
  padding: 34.003px 61.997px 46.003px 55.008px;
  justify-content: space-between;
  margin-bottom: 29.99px;
  grid-area: title;
}
.abt .abt-a button {
  font-size: 32.006px;
  line-height: 32.006px;
  padding: 21.005px 44.006px;
  border-radius: 2.604vw;
  border: 2.995px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}
.abt .abt-a .tl-img img {
  width: 250.003px;
  height: 250.003px;
}
.abt .abt-b {
  width: 935.002px;
  min-width: 935.002px;
  height: 509.99px;
  min-height: 509.99px;
  border-radius: 2.604vw;
  background-color: #000000;
  color: #fff;
  padding: 60px 51.994px;
  margin-right: 30.01px;
  grid-area: aboutme;
}
.abt .abt-c {
  width: 935.002px;
  min-width: 935.002px;
  height: 509.99px;
  min-height: 509.99px;
  border-radius: 2.604vw;
  background-color: #C3DA37;
  padding: 60px 51.994px;
  grid-area: skills;
}
.abt .abt-c button {
  margin-right: 14.995px;
  margin-bottom: 14.995px;
}

@media screen and (max-width: 1280px) {
  .abt {
    font-weight: 400;
    display: grid;
    grid-template-areas: "title title" "aboutme skills";
  }
  .abt h1 {
    font-size: 7.5vw;
    line-height: 10.234vw;
    margin-bottom: 0.703vw;
  }
  .abt h2 {
    font-size: 1.875vw;
    line-height: 1.875vw;
    margin-bottom: 2.344vw;
  }
  .abt p {
    font-size: 1.563vw;
    line-height: 2.5vw;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2.344vw;
  }
  .abt p:last-child {
    margin-bottom: 0;
  }
  .abt .abt-a {
    background-color: #839292;
    border-radius: 3.906vw;
    color: #fff;
    display: flex;
    padding: 5.625vw 5.469vw 5.859vw 4.297vw;
    justify-content: space-between;
    margin-top: 2.344vw;
    margin-bottom: 2.344vw;
    grid-area: title;
  }
  .abt .abt-a button {
    font-size: 1.875vw;
    line-height: 1.875vw;
    padding: 1.406vw 3.125vw;
    border-radius: 3.906vw;
    border: 0.234vw solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: "Open Sans", sans-serif;
  }
  .abt .abt-a .tl-img {
    margin-bottom: 0;
  }
  .abt .abt-a .tl-img img {
    width: 15.625vw;
    height: 15.625vw;
  }
  .abt .abt-b {
    width: 48.047vw;
    height: 39.844vw;
    min-width: 48.047vw;
    min-height: 39.844vw;
    border-radius: 3.906vw;
    background-color: #000000;
    color: #fff;
    padding: 4.141vw 3.516vw 4.141vw 3.594vw;
    margin-right: 2.344vw;
    grid-area: aboutme;
  }
  .abt .abt-c {
    width: 48.047vw;
    height: 39.844vw;
    min-width: 48.047vw;
    min-height: 39.844vw;
    border-radius: 3.906vw;
    background-color: #C3DA37;
    padding: 4.141vw 3.516vw 4.141vw 3.594vw;
    grid-area: skills;
    margin-top: 0;
  }
  .abt .abt-c button {
    border: 0.078vw solid #000000;
    background-color: transparent;
    border-radius: 12.077vw;
    font-size: 1.875vw;
    line-height: 2.578vw;
    padding: 0.313vw 1.719vw;
    margin-right: 0.781vw;
    margin-bottom: 0.781vw;
  }
}
@media screen and (max-width: 1024px) {
  .abt {
    font-weight: 400;
    display: grid;
    grid-template-areas: "title title" "aboutme skills";
  }
  .abt h1 {
    font-size: 6.25vw;
    line-height: 8.496vw;
    margin-bottom: 2.344vw;
  }
  .abt h2 {
    font-size: 3.125vw;
    line-height: 4.297vw;
    margin-bottom: 2.344vw;
  }
  .abt p {
    font-size: 1.855vw;
    line-height: 2.734vw;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2.93vw;
  }
  .abt p:last-child {
    margin-bottom: 0;
  }
  .abt .abt-a {
    background-color: #839292;
    border-radius: 4.883vw;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    padding: 5.371vw 4.883vw;
    justify-content: space-between;
    margin-top: 1.953vw;
    margin-bottom: 1.953vw;
    grid-area: title;
  }
  .abt .abt-a button {
    font-size: 2.344vw;
    line-height: 3.125vw;
    padding: 1.367vw 3.223vw;
    border-radius: 4.883vw;
    border: 2.478px solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: "Open Sans", sans-serif;
  }
  .abt .abt-a .tl-img {
    margin-bottom: 0;
  }
  .abt .abt-a .tl-img img {
    width: 17.09vw;
    height: 17.09vw;
  }
  .abt .abt-b {
    width: 48.047vw;
    height: 65.977vw;
    min-width: 48.047vw;
    min-height: 65.977vw;
    border-radius: 4.883vw;
    background-color: #000000;
    color: #fff;
    padding: 4.395vw 4.785vw;
    margin-right: 1.953vw;
    grid-area: aboutme;
  }
  .abt .abt-c {
    width: 48.047vw;
    height: 65.977vw;
    min-width: 48.047vw;
    min-height: 65.977vw;
    border-radius: 4.883vw;
    background-color: #C3DA37;
    padding: 4.395vw 4.785vw;
    grid-area: skills;
    margin-top: 0;
  }
  .abt .abt-c button {
    border: 0.098vw solid #000000;
    background-color: transparent;
    border-radius: 12.077vw;
    font-size: 2.344vw;
    line-height: 3.125vw;
    padding: 0.488vw 1.465vw;
    margin-right: 0.977vw;
    margin-bottom: 0.977vw;
  }
}
@media screen and (max-width: 480px) {
  .abt {
    font-weight: 400;
    display: grid;
    grid-template-areas: "title" "aboutme" "skills";
  }
  .abt h1 {
    font-size: 9.662vw;
    line-height: 11.836vw;
    margin-bottom: 2.415vw;
  }
  .abt h2 {
    font-size: 4.831vw;
    line-height: 6.522vw;
    margin-bottom: 2.657vw;
  }
  .abt p {
    font-size: 3.865vw;
    line-height: 5.797vw;
    font-family: "Roboto", sans-serif;
    margin-bottom: 2.174vw;
  }
  .abt p:last-child {
    margin-bottom: 0;
  }
  .abt .abt-a {
    background-color: #839292;
    border-radius: 25px;
    margin-top: 6.036px;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    padding: 5.797vw 0 5.797vw 6.763vw;
    justify-content: space-between;
    margin-bottom: 2.415vw;
    grid-area: title;
    margin-top: 4.831vw;
  }
  .abt .abt-a button {
    font-size: 4.831vw;
    line-height: 6.522vw;
    padding: 1.449vw 4.106vw;
    border-radius: 12.077vw;
    border: 0.242vw solid #fff;
    background-color: transparent;
    color: #fff;
    font-family: "Open Sans", sans-serif;
  }
  .abt .abt-a .tl-img {
    margin-bottom: 2.415vw;
  }
  .abt .abt-a .tl-img img {
    width: 31.401vw;
    height: 31.401vw;
  }
  .abt .abt-b {
    width: unset;
    min-width: unset;
    height: unset;
    min-height: unset;
    border-radius: 25px;
    background-color: #000000;
    color: #fff;
    padding: 7.729vw 6.763vw;
    margin-right: 0;
    grid-area: aboutme;
  }
  .abt .abt-c {
    width: unset;
    min-width: unset;
    height: unset;
    min-height: unset;
    border-radius: 25px;
    background-color: #C3DA37;
    padding: 7.729vw 6.763vw;
    grid-area: skills;
    margin-top: 2.415vw;
  }
  .abt .abt-c button {
    border: 0.215px solid #000000;
    background-color: transparent;
    border-radius: 12.077vw;
    font-size: 3.865vw;
    line-height: 5.797vw;
    padding: 0.725vw 3.865vw;
    margin-right: 2.415vw;
    margin-bottom: 2.415vw;
  }
}
.pjts {
  margin-top: 1.563vw;
  --pborderw:0.156vw;
  --pborders:solid;
  --pborderc: $white;
  display: grid;
  grid-template-areas: "gtn efs ecm" "gtn ptf ptf";
}
.pjts .pjts-c {
  width: 31.944vw;
  border-radius: 2.604vw;
  padding: 2.604vw 2.587vw 2.552vw;
}
.pjts button {
  border-color: #fff;
  color: #fff;
}
.pjts h3 {
  margin-top: 24.998px;
  margin-bottom: 19.008px;
}
.pjts .gtn {
  background-color: #9A82C2;
  color: #fff;
  min-height: 45.313vw;
  grid-area: gtn;
  margin-right: 1.563vw;
}
.pjts .efs {
  background-color: #839292;
  min-height: 21.875vw;
  color: #fff;
  grid-area: efs;
  margin-bottom: 1.563vw;
  margin-right: 1.563vw;
}
.pjts .ecm {
  background-color: #DFB921;
  min-height: 21.875vw;
  color: #fff;
  grid-area: ecm;
  margin-bottom: 1.563vw;
}
.pjts .ptf {
  background-color: #DADCF1;
  min-height: 21.875vw;
  color: #000000;
  grid-area: ptf;
  width: 65.452vw;
}
.pjts .ptf button {
  color: #000000;
  border: 0.156vw solid #000000;
}

@media screen and (max-width: 1280px) {
  .pjts {
    margin-top: 30px;
    --pborderw:3px;
    --pborders:solid;
    --pborderc: $white;
    display: grid;
    grid-template-areas: "gtn efs" "gtn ecm" "ptf ptf";
  }
  .pjts .pjts-c {
    width: 615px;
    border-radius: 2.604vw;
    padding: 55px 50px;
  }
  .pjts button {
    font-size: 24px;
    line-height: 24px;
    padding: 12px 31px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 2.604vw;
    color: #fff;
  }
  .pjts .link-c .link {
    width: 47px;
    height: 47px;
  }
  .pjts h1 {
    font-size: 40px;
    line-height: 54px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .pjts p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .pjts p:last-child {
    margin-bottom: 0;
  }
  .pjts .gtn {
    min-height: 694px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .pjts .efs {
    min-height: 332px;
    margin-bottom: 30px;
    margin-right: 30px;
  }
  .pjts .ecm {
    min-height: 332px;
    margin-bottom: 30px;
  }
  .pjts .ptf {
    background-color: #DADCF1;
    width: 1260px;
    min-height: 332px;
  }
  .pjts .ptf button {
    color: #000000;
    border: 3px solid #000000;
  }
}
@media screen and (max-width: 1024px) {
  .pjts {
    margin-top: 20px;
    --pborderw:3px;
    --pborders:solid;
    --pborderc: $white;
    display: grid;
    grid-template-areas: "gtn efs" "gtn ecm" "ptf ptf";
  }
  .pjts .pjts-c {
    width: 492px;
    border-radius: 4.883vw;
    padding: 55px 50px;
  }
  .pjts button {
    font-size: 24px;
    line-height: 24px;
    padding: 12px 31px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 4.883vw;
    color: #fff;
  }
  .pjts .link-c .link {
    width: 47px;
    height: 47px;
  }
  .pjts h1 {
    font-size: 36px;
    line-height: 49px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .pjts p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .pjts p:last-child {
    margin-bottom: 0;
  }
  .pjts .gtn {
    min-height: 764px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .pjts .efs {
    min-height: 372px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .pjts .ecm {
    min-height: 372px;
    margin-bottom: 20px;
  }
  .pjts .ptf {
    background-color: #DADCF1;
    width: 1004px;
    min-height: 382px;
  }
  .pjts .ptf button {
    color: #000000;
    border: 3px solid #000000;
  }
}
@media screen and (max-width: 480px) {
  .pjts {
    margin-top: 20px;
    --pborderw:3px;
    --pborders:solid;
    --pborderc: $white;
    display: grid;
    grid-template-areas: "gtn" "efs" "ecm" "ptf";
  }
  .pjts .pjts-c {
    width: unset;
    border-radius: 25px;
    padding: 40px 28px;
  }
  .pjts button {
    font-size: 20px;
    line-height: 27px;
    padding: 5px 20px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 12.077vw;
    color: #fff;
  }
  .pjts .link-c .link {
    width: 37px;
    height: 37px;
  }
  .pjts h1 {
    font-size: 32px;
    line-height: 44px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .pjts p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
  }
  .pjts p:last-child {
    margin-bottom: 0;
  }
  .pjts .gtn {
    min-height: unset;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .pjts .efs {
    min-height: unset;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .pjts .ecm {
    min-height: unset;
    margin-bottom: 20px;
  }
  .pjts .ptf {
    background-color: #DADCF1;
    width: unset;
    min-height: unset;
  }
  .pjts .ptf button {
    color: #000000;
    border: 3px solid #000000;
  }
}
.tl {
  margin-top: 30.01px;
  display: grid;
  grid-template-areas: "pgp tcs griet";
}
.tl .tl-i {
  margin-right: 20.006px;
}
.tl .tl-i:last-child {
  margin-right: 0;
}
.tl .pgp-i {
  grid-area: pgp;
}
.tl .tcs-i {
  grid-area: tcs;
}
.tl .griet-i {
  grid-area: griet;
}
.tl .tl-c {
  border-radius: 2.604vw;
  width: 613.325px;
  height: 870.01px;
  padding: 49.997px 42.509px;
  color: #fff;
}
.tl .tl-c button {
  font-size: 24px;
  line-height: 32.006px;
  background: none;
  border: 2.995px solid #fff;
  padding: 7.507px 33.005px;
  color: #fff;
  border-radius: 2.604vw;
}
.tl .tl-c h1 {
  font-size: 39.994px;
  line-height: 63.994px;
  margin: 20.006px 0 23px;
}
.tl .tl-c .tl-h {
  padding-bottom: 23.002px;
  border-bottom: 2.995px solid #fff;
  margin-bottom: 20.006px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tl .tl-c .tl-h h2 {
  font-size: 32.006px;
  line-height: 44.006px;
  margin: 0;
}
.tl .tl-c .tl-h button {
  font-size: 24px;
  line-height: 32.006px;
  padding: 7.507px 33.005px;
  border: 2.995px solid #fff;
  color: #fff;
}
.tl .tl-c p {
  font-size: 24px;
  line-height: 33.005px;
  margin-bottom: 12px;
}
.tl .tl-c p:last-child {
  margin-bottom: 0;
}
.tl .pgp-g {
  background-color: #6BC25C;
}
.tl .pgp-y {
  background-color: #DFB921;
}
.tl .tcs-p {
  background-color: #DADCF1;
  color: #000000;
}
.tl .tcs-p button {
  color: #000000;
  border-color: #000000;
}
.tl .tcs-p .tl-h {
  border-bottom: 2.995px solid #000000;
}
.tl .tcs-p .tl-h button {
  border-color: #000000;
  color: #000000;
}
.tl .tcs-g {
  background-color: #839292;
}
.tl .griet-p {
  background-color: #9A82C2;
}
.tl .griet-b {
  background-color: #0E74F6;
}

@media screen and (max-width: 1280px) {
  .tl {
    margin-top: 30.01px;
    display: grid;
    grid-template-areas: "pgp tcs" "griet griet";
  }
  .tl .tl-i {
    margin-right: 30.006px;
    margin-bottom: 30px;
  }
  .tl .tl-i:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .tl .tl-c {
    border-radius: 3.906vw;
    width: 615px;
    height: 798.5px;
    padding: 49.997px 42.509px;
    color: #fff;
  }
  .tl .tl-c button {
    font-size: 24px;
    line-height: 24px;
    border: 2.995px solid #fff;
    padding: 11.507px 33.005px;
    border-radius: 3.906vw;
  }
  .tl .tl-c h1 {
    font-size: 40px;
    line-height: 54px;
    margin: 20.006px 0 23px;
  }
  .tl .tl-c .tl-h {
    padding-bottom: 23.002px;
    border-bottom: 2.995px solid #fff;
    margin-bottom: 20.006px;
  }
  .tl .tl-c .tl-h h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
  }
  .tl .tl-c .tl-h button {
    font-size: 24px;
    line-height: 24px;
    padding: 11.507px 33.005px;
    border: 2.995px solid #fff;
  }
  .tl .tl-c p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  .tl .tcs-p {
    background-color: #DADCF1;
    color: #000000;
  }
  .tl .tcs-p button {
    color: #000000;
    border-color: #000000;
  }
  .tl .tcs-p .tl-h {
    border-bottom: 2.995px solid #000000;
  }
  .tl .tcs-p .tl-h button {
    border-color: #000000;
    color: #000000;
  }
  .tl .griet {
    width: 1260px;
    height: 442.5px;
  }
}
@media screen and (max-width: 1024px) {
  .tl {
    margin-top: 20.01px;
    display: grid;
    grid-template-areas: "pgp tcs" "griet griet";
  }
  .tl .tl-i {
    margin-right: 20.006px;
    margin-bottom: 20px;
  }
  .tl .tl-i:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .tl .tl-c {
    border-radius: 4.883vw;
    width: 492px;
    height: 859.5px;
    padding: 40px 34.5px;
  }
  .tl .tl-c button {
    font-size: 20px;
    line-height: 20px;
    background: none;
    border: 2.995px solid #fff;
    padding: 7px 20px;
    border-radius: 4.883vw;
  }
  .tl .tl-c h1 {
    font-size: 32px;
    line-height: 44px;
    margin: 20.006px 0 23px;
  }
  .tl .tl-c .tl-h {
    padding-bottom: 23.002px;
    border-bottom: 2.995px solid #fff;
    margin-bottom: 17px;
    display: flex;
    justify-content: space-between;
  }
  .tl .tl-c .tl-h h2 {
    font-size: 24px;
    line-height: 40px;
    margin: 0;
  }
  .tl .tl-c .tl-h button {
    font-size: 20px;
    line-height: 20px;
    padding: 7px 20.005px;
    border: 2.995px solid #fff;
  }
  .tl .tl-c p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 17px;
  }
  .tl .tcs-p {
    background-color: #DADCF1;
    color: #000000;
  }
  .tl .tcs-p button {
    color: #000000;
    border-color: #000000;
  }
  .tl .tcs-p .tl-h {
    border-bottom: 2.995px solid #000000;
  }
  .tl .tcs-p .tl-h button {
    border-color: #000000;
    color: #000000;
  }
  .tl .griet {
    width: 1004px;
    height: 450.5px;
  }
}
@media screen and (max-width: 480px) {
  .tl {
    margin-top: 20.01px;
    display: grid;
    grid-template-areas: "pgp" "tcs" "griet";
  }
  .tl .tl-i {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .tl .tl-i:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
  .tl .tl-c {
    border-radius: 25px;
    width: 394px;
    height: unset;
    padding: 40px 28px;
  }
  .tl .tl-c button {
    font-size: 16px;
    line-height: 22px;
    background: none;
    border: 2.995px solid #fff;
    padding: 7.5px 20px;
    border-radius: 12.077vw;
  }
  .tl .tl-c .pm-c .pm-i {
    width: 37px;
    height: 37px;
  }
  .tl .tl-c h1 {
    font-size: 25px;
    line-height: 34px;
    margin: 11px 0 10px;
  }
  .tl .tl-c .tl-h {
    padding-bottom: 17px;
    border-bottom: 2.995px solid #fff;
    margin-bottom: 9px;
    display: flex;
    justify-content: space-between;
  }
  .tl .tl-c .tl-h h2 {
    font-size: 20px;
    line-height: 27px;
    margin: 0;
  }
  .tl .tl-c .tl-h button {
    font-size: 16px;
    line-height: 22px;
    background: none;
    border: 2.995px solid #fff;
    padding: 7.5px 20px;
    border-radius: 12.077vw;
  }
  .tl .tl-c p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 9px;
  }
  .tl .tcs-p {
    background-color: #DADCF1;
    color: #000000;
  }
  .tl .tcs-p button {
    color: #000000;
    border-color: #000000;
  }
  .tl .tcs-p .tl-h {
    border-bottom: 2.995px solid #000000;
  }
  .tl .tcs-p .tl-h button {
    border-color: #000000;
    color: #000000;
  }
  .tl .pgp {
    height: 442.5px;
  }
  .tl .tcs {
    height: 658.5px;
  }
  .tl .griet {
    width: 394px;
    height: 477.5px;
  }
}
.ipt {
  display: grid;
  grid-template-areas: "ttc ttc" "ov tg";
  margin-top: 30px;
}
.ipt .tt-c {
  padding: 55px 73px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2.604vw;
  grid-area: ttc;
  margin-bottom: 30px;
}
.ipt .tt-c h1 {
  font-size: 128px;
  line-height: 128px;
}
.ipt .tt-c .bt-c {
  display: flex;
  flex-direction: column;
}
.ipt .tt-c .bt-c button {
  font-size: 32px;
  line-height: 32px;
  border-width: 3px;
  border-style: solid;
  padding: 24px 42px;
  margin-bottom: 24px;
  border-radius: 2.604vw;
  background: none;
}
.ipt .tt-c .bt-c button:last-child {
  margin-bottom: 0;
}
.ipt .tt-c .bt-c a {
  text-decoration: none;
}
.ipt h2 {
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 30px;
}
.ipt p {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 20px;
}
.ipt p:last-child {
  margin-bottom: 0;
}
.ipt .ov {
  padding: 60px 65px;
  border-radius: 2.604vw;
  width: 1246.67px;
  height: 510.01px;
  grid-area: ov;
  margin-right: 30px;
}
.ipt .tg {
  padding: 60px 50px;
  border-radius: 2.604vw;
  width: 623.33px;
  height: 510px;
  grid-area: tg;
}
.ipt .tg button {
  font-size: 32px;
  line-height: 32px;
  padding: 9px 25px;
  background: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 2.604vw;
  margin-right: 15px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1280px) {
  .ipt {
    display: grid;
    grid-template-areas: "ttc ttc" "ov tg";
    margin-top: 30px;
  }
  .ipt .tt-c {
    padding: 98px 45px 98px 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3.906vw;
    grid-area: ttc;
    margin-bottom: 30px;
  }
  .ipt .tt-c h1 {
    font-size: 96px;
    line-height: 131px;
  }
  .ipt .tt-c .bt-c {
    display: flex;
    flex-direction: column;
  }
  .ipt .tt-c .bt-c button {
    font-size: 24px;
    line-height: 24px;
    border-width: 3px;
    border-style: solid;
    padding: 18px 36px;
    margin-bottom: 34px;
    border-radius: 3.906vw;
    background: none;
  }
  .ipt .tt-c .bt-c button:last-child {
    margin-bottom: 0;
  }
  .ipt .tt-c .bt-c a {
    text-decoration: none;
  }
  .ipt h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  .ipt p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .ipt p:last-child {
    margin-bottom: 0;
  }
  .ipt .ov {
    padding: 49px 45.5px;
    border-radius: 3.906vw;
    width: 615px;
    height: 510px;
    grid-area: ov;
    margin-right: 30px;
  }
  .ipt .tg {
    padding: 49px 45.5px;
    border-radius: 3.906vw;
    width: 615px;
    height: 510px;
    grid-area: tg;
  }
  .ipt .tg button {
    font-size: 24px;
    line-height: 33px;
    padding: 3px 30px;
    background: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 2.604vw;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .ipt {
    display: grid;
    grid-template-areas: "ttc ttc" "ov tg";
    margin-top: 30px;
  }
  .ipt .tt-c {
    padding: 160px 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4.883vw;
    grid-area: ttc;
    margin-bottom: 30px;
  }
  .ipt .tt-c h1 {
    font-size: 64px;
    line-height: 87px;
  }
  .ipt .tt-c .bt-c {
    display: flex;
    flex-direction: column;
  }
  .ipt .tt-c .bt-c button {
    font-size: 24px;
    line-height: 32px;
    border-width: 3px;
    border-style: solid;
    padding: 14px 28px;
    margin-bottom: 30px;
    border-radius: 4.883vw;
    background: none;
  }
  .ipt .tt-c .bt-c button:last-child {
    margin-bottom: 0;
  }
  .ipt .tt-c .bt-c a {
    text-decoration: none;
  }
  .ipt h2 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 30px;
  }
  .ipt p {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .ipt p:last-child {
    margin-bottom: 0;
  }
  .ipt .ov {
    padding: 55px 49px;
    border-radius: 4.883vw;
    width: 492px;
    height: 675.6px;
    grid-area: ov;
    margin-right: 30px;
  }
  .ipt .tg {
    padding: 49px 55px;
    border-radius: 4.883vw;
    width: 492px;
    height: 675.6px;
    grid-area: tg;
  }
  .ipt .tg button {
    font-size: 24px;
    line-height: 32px;
    padding: 3px 30px;
    background: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 4.883vw;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 480px) {
  .ipt {
    display: grid;
    grid-template-areas: "ttc" "ov" "tg";
    margin-top: 4.831vw;
  }
  .ipt .tt-c {
    padding: 9.662vw 5.193vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 4.883vw;
    grid-area: ttc;
    margin-bottom: 2.415vw;
  }
  .ipt .tt-c h1 {
    font-size: 8.696vw;
    line-height: 11.836vw;
    margin-bottom: 3.623vw;
  }
  .ipt .tt-c .bt-c {
    display: flex;
    flex-direction: unset;
  }
  .ipt .tt-c .bt-c button {
    font-size: 4.831vw;
    line-height: 6.522vw;
    border-width: 0.725vw;
    border-style: solid;
    padding: 1.449vw 7.246vw;
    margin-bottom: 0vw;
    margin-right: 4.831vw;
    border-radius: 4.883vw;
    background: none;
  }
  .ipt .tt-c .bt-c button:last-child {
    margin-bottom: 0;
    margin-right: 0;
  }
  .ipt .tt-c .bt-c a {
    text-decoration: none;
  }
  .ipt h2 {
    font-size: 4.831vw;
    line-height: 6.522vw;
    margin-bottom: 2.415vw;
  }
  .ipt p {
    font-size: 3.865vw;
    line-height: 5.797vw;
    margin-bottom: 2.415vw;
  }
  .ipt p:last-child {
    margin-bottom: 0;
  }
  .ipt .ov {
    padding: 9.662vw 6.763vw;
    border-radius: 25px;
    width: unset;
    height: unset;
    grid-area: ov;
    margin-right: 0vw;
    margin-bottom: 2.415vw;
  }
  .ipt .tg {
    padding: 9.662vw 6.763vw;
    border-radius: 25px;
    width: unset;
    height: unset;
    grid-area: tg;
  }
  .ipt .tg button {
    font-size: 3.865vw;
    line-height: 5.797vw;
    padding: 0.725vw 3.623vw;
    background: none;
    border-width: 0.242vw;
    border-style: solid;
    border-radius: 12.077vw;
    margin-right: 3.623vw;
    margin-bottom: 3.623vw;
  }
}
.ftr {
  border: 0.052vw solid #000000;
  height: 1.563vw;
  border-radius: 2.604vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.833vw;
  line-height: 0.833vw;
  margin-top: 1.563vw;
}

@media screen and (max-width: 1280px) {
  .ftr {
    border: 1px solid #000000;
    height: 30px;
    border-radius: 2.604vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 16px;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1024px) {
  .ftr {
    border: 0.098vw solid #000000;
    height: 2.93vw;
    border-radius: 4.883vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.563vw;
    line-height: 1.563vw;
    margin-top: 1.953vw;
  }
}
@media screen and (max-width: 480px) {
  .ftr {
    border: 1px solid #000000;
    height: 7.246vw;
    border-radius: 12.077vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.899vw;
    line-height: 2.899vw;
    margin-top: 2.415vw;
  }
}/*# sourceMappingURL=index.css.map */